<div class="flexbox">
  <div id="image-next-to-form" style="background-image: url( <%= image_path 'drums.jpg' %>);">
  </div>
    <div class="instrument-form">
      <h1><center>Pick an instrument you need for your jam...</center></h1>
      <%= simple_form_for [@jam, @slot] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :instrument_id, collection: @instruments, label_method: :name, value_method: :id,label: "Instrument", include_blank: false %>
        </div>

      <div class="form-actions">
        <%= render 'shared/done_primary', class: "button_primary" %>
      </div>
    <% end %>
  </div>
</div>
