<div class="instruments_selector">
  <% if @available_instruments.size > 0 && @user == current_user %>
    <%= simple_form_for @user_instrument do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.association :instrument, collection: @available_instruments, label_method: :name, include_blank: false, label: false %>
      </div>

      <div class="form-actions add-instrument">
        <%= render 'shared/done_primary', class: "button_primary" %>
      </div>
    <% end %>
  <% end %>
</div>
