<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="profilecard">
        <%= render 'avatar_name' %> 

        <%= render 'instrument_list' %> 
        <%= render 'instrument_selector' %> 

        <%= render 'about' %> 

        <%= render 'hosted_jams' %> 
        
        <%= render 'confirmed_slots' %> 

        <%= render 'pending_requests_to_user' %> 
        <%= render 'personal_requests_from_user' %> 

        <%= render 'edit_profile_button' %> 
      </div>
    </div>
  </div>
</div>
