<h4>Find your future bandmates</h4>
<%= form_tag jams_path, class: "form-group", method: :get do %>
<p>WHAT DO YOU PLAY?</p>
<%= select_tag "instrument", options_from_collection_for_select(@instruments, "id", "name"), class: "select2 fancy-form"%>
<p id="jam-where">WHERE</p>
<%= text_field_tag :location, params[:location], class: "fancy-form", id: "jam_location" %>
<p id="jam-when">WHEN</p>
<%= text_field_tag :date, params[:date], class: "fancy-form datepicker white-box"%>
  <%= render 'shared/search_button', class: "button_primary" %>
<% end %>
