<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-4-offset-1">
        <div class="home-search">
          <h1>Jammer</h1>
          <h3>Connecting Musicians</h3>
          <h4>Find your future bandmates</h4>
          <%= form_tag jams_path, class: "form-group", method: :get do %>
          <p>Instrument</p>
          <%= select_tag "instrument", options_from_collection_for_select(@instruments, "id", "name"), class: "select2 fancy-form"%>
          <p>WHERE</p>
          <%= text_field_tag :location, params[:location], class: "fancy-form", id: "jam_location" %>
          <p>WHEN</p>
          <%= text_field_tag :date, params[:date], class: "fancy-form datepicker white-box" %>
          <br><br>
            <%= render 'shared/search_button', class: "button_primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://player.vimeo.com/external/263528887.hd.mp4?s=2df67ed7f8c7b0f4187e75c6399db707d5a5c0df&profile_id=175&oauth2_token_id=57447761" type="video/mp4">
</video>
<div id="video-gradient">
<div>