<% if @jam.slots.size > 0 %>
<% @jam.slots.each do |slot| %>
  <div class="slot-request-card">
    <% if slot.user != nil %>
      <%= cl_image_tag slot.user.photo, height: 130, width: 130, gravity: "auto", crop:"fill", class: "slot-photo-clipped" %>
      <div class="user-name">
        <h1><%= slot.instrument.name %></h1>
      </div>
      <div class="request-icon">
        <% if slot.instrument.name == 'Lead Guitar' %>
          <%= image_tag("guitar.svg", size: "20x20") %>
        <% elsif slot.instrument.name == 'Bass Guitar' %>
          <%= image_tag("bass.svg", size: "20x20") %>
        <% elsif slot.instrument.name == 'Vocals' %>
          <%= image_tag("mic.svg", size: "20x20") %>
        <% elsif slot.instrument.name == 'Drums' %>
          <%= image_tag("drum.svg", size: "20x20") %>
        <% elsif slot.instrument.name == 'Keys' %>
          <%= image_tag("piano.svg", size: "20x20") %>
        <% end %>
      </div>
    <div class="jam-show-slot-info">
      <% if slot.user == current_user %>
        <% if slot.instrument.name == "Vocals" %>
          <p>You are singing at your jam.</p>
        <% else %>
          <p>You are playing <%= slot.instrument.name %> at your jam.</p>
        <% end %>
      <% else %>
        <% if slot.instrument.name == "Vocals" %>
          <p><%= link_to user_path(slot.user) do %><%= slot.user.first_name %> <%= slot.user.last_name %><% end %> is singing at this jam.</p>
        <% else %>
          <p><%= link_to user_path(slot.user) do %><%= slot.user.first_name %> <%= slot.user.last_name %><% end %> is playing <%= slot.instrument.name %> at this jam.</p>
        <% end %>
      <% end %>
    </div>
    <div class="request-footer">
    </div>
  </div>

    <% else %>
      <%= image_tag("user.png", class: "request-photo-clipped") %>
        <div class="user-name">
          <h1><%= slot.instrument.name %></h1>
        </div>
        <div class="request-icon">
          <% if slot.instrument.name == 'Lead Guitar' %>
            <%= image_tag("guitar.svg", size: "20x20") %>
          <% elsif slot.instrument.name == 'Bass Guitar' %>
            <%= image_tag("bass.svg", size: "20x20") %>
          <% elsif slot.instrument.name == 'Vocals' %>
            <%= image_tag("mic.svg", size: "20x20") %>
          <% elsif slot.instrument.name == 'Drums' %>
            <%= image_tag("drum.svg", size: "20x20") %>
          <% elsif slot.instrument.name == 'Keys' %>
            <%= image_tag("piano.svg", size: "20x20") %>
          <% end %>
        </div>
      <% if slot.jam.user == current_user %>
      <div class="request-info">
        <% if slot.instrument.name == "Vocals" %>
          <p>No one is singing at your jam yet. There are <%= slot.requests.size %> pending requests for this slot %></p>
        <% else %>
          <p>No one is playing <%= slot.instrument.name %> at your jam yet. There are <%= slot.requests.size %> pending requests for this slot.</p>
        <% end %>
      </div>
      <% else %>
      <div class="request-info">
        <% if slot.instrument.name == "Vocals" %>
          <p> No one is singing at this jam yet. Hit the request button below!</p>
        <% else %>
          <p> No one is playing <%= slot.instrument.name %> at this jam yet. Hit the request button below!</p>
        <% end %>
      </div>
      <% end %>
      <div class="request-footer">
        <% if slot.jam.user == current_user %>
          <%= link_to "Take Slot",slot_requests_path(slot, request: { status: "accepted" }), method: :post, class: "take-slot-button" %>
          <%= link_to "Delete Slot", slot_path(slot), method: :delete, class: "jam-slot-delete-button" if slot.jam.user == current_user %>
        <% else %>
          <%= link_to "Request Slot", new_slot_request_path(slot), class: "request-slot-button" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<% elsif @jam.user == current_user  %>
  <div class="no-slots">
    <%= image_tag("no-jam-slots.svg", size: "302x262")%>
    <h5>It's dead in here! Why don't you add some slots? </h5><br> <%= link_to "Add a slot", new_jam_slot_path(@jam), class: "custom-file-upload" %>
  </div>
<% end %>
