<% if @jams.size == 0 && @instrument.name == "Vocals" %>
  <h3>Looks like we don't have any jams for you to sing at!</h3>
  <p>Why not host one yourself? <%= link_to "Host a Jam", new_jam_path, class: "custom-file-upload" %></p>
<% elsif @jams.size == 0 && @instrument.name != "Vocals"%>
  <h3>Looks like we don't have any jams for you to play <%= @instrument.name %> at!</h3>
  <p>Why not host one yourself? <%= link_to "Host a Jam", new_jam_path, class: "custom-file-upload" %></p>
<% elsif @jams.count == 1 && @location.present? %>
  <h3> <%= @jams.count %> jam found: </h3>
<% elsif @jams.count == 1 && @location.blank? %>
  <h3> <%= @jams.count %> jam found: </h3>
<% elsif @jams.count > 1 && @location.present? %>
  <h3> <%= @jams.count %> jams found: </h3>
<% elsif @jams.count > 1 && @location.blank? %>
  <h3> <%= @jams.count %> jams found: </h3>
<% end %>
