<div class="flexbox">
  <div id="image-next-to-form">
  </div>
  <div class="new-jam-form">
    <h1>Create new Jam</h1>
    <%= simple_form_for @jam do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div id="left-align-text">
      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :location %>
        <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker white-box"} %>
        <%= f.input :time, as: :string, required: false, input_html: {class: "timepicker white-box"} %>
        <%= f.input :photo, input_html: {id: "file-upload"}, label: "Upload Photo", label_html: {for: "file-upload", class: "custom-file-upload"}%>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= render 'shared/button_primary', class: "button_primary" %>
    </div>
    <div>

      <% end %>
    </div>
  </div>
</div>
