<h3> <%= @jam.title %> </h3>
<br>
<h4>Details about this jam:</h4>
<p> Where: <%= @jam.location %> </p>
<p> When? <%= @jam.date %> |
Time: <%= @jam.time %> </p>
<h4> Description:</h4>
<p> <%= @jam.description %> </p>
<br>
<h3>Jammers</h3>

<!-- temporary for request implementation -->
<% @jam.slots.each do |slot| %>
  <p><%= slot.instrument.name %></p>
  <p><%= link_to "request this slot", new_slot_request_path(slot) %></p>

<% end %>

<%= link_to "Add a slot to this jam", new_jam_slot_path(@jam) %>
<%= link_to "Back to jams", jams_path %>
