<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="profilecard">
        <h3> <%= @jam.title %> </h3>
        <%= cl_image_tag @jam.photo,  width: 400, height: 200, crop: :fill, class: "jam-avatar" %>
        <h4>Details about this jam:</h4>
        <p> Where: <%= @jam.location %> </p>
        <p> Date: <%= @jam.date %> | Time: <%= @jam.time %> </p>
          <h4> Description:</h4>
          <p> <%= @jam.description %> </p>
          <h3>Jammers</h3>
          <% @jam.slots.each do |slot| %>
  <p><%= slot.instrument.name %></p>
  <p><%= link_to "request this slot", new_slot_request_path(slot) %></p>

<% end %>

          <%= link_to "Add a Slot", new_jam_slot_path(@jam), class: "button_primary" %>
          <%= link_to "Back to Jams", jams_path, class: "button_primary" %><br><br>
          <%= link_to "Edit Jam", edit_jam_path(@jam), class: "button_primary" if @jam.user == current_user %>
        </div>
    </div>
  </div>
</div>
