<div class="jam-show-page text-center">
  <div class="jam-info-show">
    <div class="jam-header">
      <%= cl_image_tag @jam.photo, crop: :fill, class: "jam-avatar-img" %>
    </div>
    <div class="jam-details">
      <h3> Where: <%= @jam.location %> </h3>
      <h3> Date: <%= @jam.date %> | Time: <%= @jam.time %> </h3>
    </div>
    <div class="jam-description">
      <h3>Description</h3>
      <p> <%= @jam.description %> </p>
    </div>
  </div>
  <div class="slots-section">
    <div class="requests">
      <%= render 'jam_showpage_card' %>
    </div>
  </div>
</div>
