<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="profilecard">
        <h3> <%= @jam.title %> </h3>
        <%= cl_image_tag @jam.photo,  width: 400, height: 200, crop: :fill, class: "jam-avatar" %>
        <h4>Details about this jam:</h4>
        <p> Where: <%= @jam.location %> </p>
        <p> When? <%= @jam.date %> |
          Time: <%= @jam.time %> </p>
          <h4> Description:</h4>
          <p> <%= @jam.description %> </p>
          <h3>Jammers</h3>
          <p> slot#1 </p>
          <p> slot#2.... </p>

          <%= link_to "Add a slot to this jam", new_jam_slot_path(@jam), class: "button_primary" %>
          <%= link_to "Back to jams", jams_path, class: "button_primary" %>
        </div>
    </div>
  </div>
</div>
